= stylesheet_link_tag 'ui/Example'

:css
  #{Rouge::Themes::Base16.mode(:light).render(scope: '.Example_Source')}

-# :javascript
-#   window.onhashchange = () => {
-#     $("[href]").remove(".current")
-#     $("[href='" + location.hash + "']").add(".current")
-#   }

:javascript
  window.addEventListener('load', () => {
    $
  })

- @examples.each do |name, partial|
  = render "cafe_car/examples/example", name:, partial: do
    = render partial
