.git
.github
.bundle
vendor/bundle
log
*.log
tmp
test/dummy/tmp
test/dummy/log
test/dummy/storage
test/dummy/public/assets
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-*
*.gem
pkg
.env
.vscode
.idea
