[data-tip]:not(:has([data-tip]:hover)):hover {
  &::before {
    content: attr(data-tip, attr(title));
    position: fixed;
    display: block;

    position-anchor: auto;
    position-area: bottom;
    position-try-fallbacks: flip-block;

    z-index: 99;
    background: var(--tooltip, rgb(0 0 0 / 0.8));
    font-size: 0.8rem;
    color: var(--white, white);
    padding: 0.25rem 0.5rem;
    max-width: 80%;
    white-space: wrap;
    border-radius: var(--control-radius);
  }
}
