@keyframes fade-in {
    from { opacity: 0 }
}

@keyframes fade-out {
    to { opacity: 0 }
}

.remove {
    /*animation: fade-out 100ms;*/
    opacity: 0;
    transition: opacity 0.1s;
    pointer-events: none;
}

.disabled, [disabled]:not(input) {
    opacity: .3;
    cursor: not-allowed;
    text-decoration: line-through;
}

.left { float: left; margin-right: 1em; }
.right { float: right; margin-left: 1em; }

.center {text-align: center;}

.reset {
    appearance: none;
    border: none;
    background: none;
    color: inherit;
    text-decoration: none;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    display: block;
}

.h1 {
    font-size: 2em;
    margin: .67em 0;
}

.h2 {
    font-size: 1.5em;
    margin: .83em 0;
}


.shy {
    visibility: hidden;
}

:hover > .shy {
    visibility: visible;
}

.pretty_inspect {
    white-space: pre-wrap;
}

.auto {
    field-sizing: content;
}
