.Alert {
  --color: white;
  --background: color-mix(in lab, var(--color) 20%, transparent);
  color: var(--color);
  background: var(--background);
  padding: var(--gap);
  border-radius: var(--radius);
}

.Alert-success {
  --color: var(--success);
}

.Alert-error {
  --color: var(--error);
}

.Alert-warning {
  --color: var(--warning);
}
