.Button {
  --background: var(--button);
  --color: contrast-color(var(--background));
  background: var(--background);
  color: var(--color);
  border-radius: var(--control-radius);
  padding: var(--half-gap);
  box-shadow: rgba(34, 32, 29, 0.05) 0px 1px 2px;
  /* border: 1px solid rgba(255,255,255, 0.3); */
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5em;
  user-select: none;
}

.Button:hover {
  text-decoration: none;
  box-shadow: rgba(34, 32, 29, 0.1) 0px 1px 2px;
  filter: brightness(1.05);
  z-index: 1;
}

.Button:active {
  text-decoration: none;
  box-shadow: rgba(34, 32, 29, 0.1) 0px 1px 2px;
  filter: brightness(0.95);
  /* border-style: inset; */
  box-shadow: inset rgba(34, 32, 29, 0.1) 0px 1px 2px;
}

.Button-primary {
  --background: var(--primary);
  --color: white;
}

.Button-danger {
  --background: var(--danger);
  --color: white;
}
