.Card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
                rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: var(--radius);
    background-color: var(--card);
}

.Card_Section {
    padding: var(--gap);
}

.Card_Section + .Card_Section {
    border-top: 1px solid var(--border);
}

.Card:not(:has(.Card_Section)) {
    padding: var(--gap);
}

.Card + .Card {
    margin-top: var(--gap);
}
