@charset "utf-8";

.Controls {
    display: inline-flex;
}

.Controls_Link + .Controls_Link::before {
    display: inline;
    content: "·";
    padding: 0 0.3em;
    opacity: .3;
}

.Controls_Link a {
    color: var(--link);
}
