@keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
}

.Dialog {
    border: none;
    background: none;
    padding: var(--gap) 0;
    max-width: var(--max-width);
    max-height: 100%;
    overscroll-behavior: contain;
    animation: fade-in 100ms;
}

.Dialog::backdrop {
    background: var(--backdrop);
    overscroll-behavior: contain;
    backdrop-filter: blur(8px);
    animation: fade-in 500ms;
}
