.Field {
  display: grid;
  grid: auto / auto 1fr;
  gap: .1em .5em;
  align-items: baseline;
}

.Field > :not(.Field_Label, .Field_Error) {
  grid-column: span 2;
}

.Field_Label {
  font-weight: bold;
  line-height: 1.5;
}

.Field_Error {
  grid-column: 2;
  color: var(--error);
}

.Field_Error ~ .Input:not(:focus),
.Field_Error ~ * .Input:not(:focus) {
  background: var(--invalid);
  border-color: var(--red);
}

.Field_Hint {
  color: var(--dim);
}
