@charset "utf-8";

.Icon {
  vertical-align: bottom;
  display: flex;
  gap: var(--half-gap);
  font-style: inherit;

  &::before {
    display: block;
    content: '';
    height: 1em;
    width: 1em;
  }
}

.Icon-before {
  margin-right: 0.5em;
}

.Icon-after {
  margin-left: 0.5em;
}

.Icon-dim {
  opacity: 0.5;
}
