.Input,
input,
textarea,
select {
  background: var(--input);
  border: 1px solid var(--border);
  max-width: 100%;
  border-radius: var(--control-radius);
  padding: 6px;
  box-shadow: rgba(34, 32, 29, 0.05) 0px 1px 2px;
}

input,
textarea,
select {
  color: inherit;
  font: inherit;
}

textarea {
  field-sizing: content;
  resize: none;
}

select {
  box-shadow: rgba(34, 32, 29, 0.05) 0px 1px 2px;

  &::after {
    content: "hi";
  }
}

::placeholder {
  color: inherit;
  opacity: .3;
}
