:root {
  --sidebar-width: 250px;
}

.Layout {
  display: flex;
  align-items: start;
}

.Layout_Sidebar {
  --indent: .7rem;

  width: var(--sidebar-width);
  position: sticky;
  inset: 0;
  overflow: auto;

  display: flex;
  flex-flow: column;
  flex-shrink: 0;

  padding: var(--gap);
  white-space: nowrap;
  transition: margin var(--duration), width var(--duration);
}

.Layout_Main {
  transition: transform var(--duration);
  /* margin-left: var(--sidebar-width); */
  display: flex;
  flex-flow: column;
  align-items: stretch;
  flex-grow: 1;
  padding: var(--gap);
}

.Layout_Menu {
  display: none;
  appearance: none;
  border-radius: 99px;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  vertical-align: center;
  border-color: transparent;
  background: none;

  &:hover {
    border-color: var(--border);
    box-shadow: var(--box-shadow);
  }

  &:checked {
    border-color: var(--border);
    box-shadow: inset var(--box-shadow);
  }

  &::before {
    content: "ëÅî";
    display: block;
    font-size: 30px;
    line-height: 1;
    margin-top: -3px;
  }
}

@media (width < 720px) {
  .Layout_Main {
    margin-left: 0;
    transform: translateX(var(--sidebar-width));
  }

  body:has(.Layout_Menu:checked) {
    overflow-x: hidden;
  }

  body:not(:has(.Layout_Menu:checked)) {
    .Layout_Sidebar {
      margin-left: calc(-1 * var(--sidebar-width));
      /* width: 100vw; */
    }

    .Layout_Main {
      transform: none;
    }
  }

  .Layout:has(.Layout_Sidebar) .Layout_Menu {
    display: inline-block;
  }
}
