.Dialog {
    border: none;
    background: none;
    padding: var(--gap) 0;
    max-width: var(--max-width);
    max-height: 100%;
    overscroll-behavior: contain;
    min-width: 30vw;
}

.Dialog::backdrop {
    background: var(--backdrop);
    overscroll-behavior: contain;
    backdrop-filter: blur(8px);
}
