.Modal {
    z-index: 1;
    inset: 0;
    display: grid;
    grid-template-columns: fit-content(var(--modal-width));
    background: var(--backdrop);
    overscroll-behavior: contain;
    align-items: center;
    justify-content: center;
    overflow: auto;
    backdrop-filter: blur(8px);
    padding: calc(var(--gap) * 2);
}

.Modal_Close {
    font-size: 150%;
    cursor: pointer;
    line-height: 1;
}

.Modal_Close:hover {
    opacity: .8;
    text-decoration: none;
}

.Modal-fixed {
    position: fixed;
}

body:has(> .Modal-fixed) {
    overflow: hidden;
}
