.Navigation {
    --indent: .7em;
    display: grid;
    align-content: start;
}

.Navigation_Link {
    padding: .7em;
    position: relative;
    color: inherit;
    display: flex;
    align-items: center;
}


.Navigation_Link:is(a):hover,
.Navigation-current,
.Navigation_Link.current {
    text-decoration: none;

    &::after {
        content: '';
        display: block;
        position: absolute;
        inset: 3px 0;
        border-radius: var(--control-radius);
        background: var(--hover);
        z-index: -1;
    }
}
