.Navigation {
    display: grid;
    align-content: start;
    padding-top: var(--gap);
}

.Navigation_Link {
    padding: var(--gap) calc(var(--gap) * 2);
    position: relative;
}


.Navigation_Link:is(a):hover,
.Navigation-current {
    &::before {
        content: '';
        display: block;
        position: absolute;
        inset: 3px 10px;
        border-radius: var(--radius);
        background: var(--hover);
    }
}
