.Page {
  container: Page;
  display: flex;
  flex-flow: wrap;
  justify-content: stretch;
  gap: var(--gap);
  background: var(--background);
  border-radius: var(--radius);
}

.Page_Head {
  display: flex;
  align-items: center;
  gap: var(--gap);
  padding-left: var(--gap);
  width: 100%;
  top: var(--gap);
  left: var(--gap);
}

.Page_Title {
  margin: 0;
}

.Page_Actions {
  margin-left: auto;
}

.Page_Aside {
  min-width: 300px;
  display: flex;
  flex-flow: column;
  gap: var(--gap);
}

.Page_Body {
  flex: 1 1 20px;
  display: flex;
  flex-flow: column;
  gap: var(--gap);
}

.Page-slim .Page_Body {
  max-width: 720px;
}

.Page-center .Page_Body {
  margin-left: auto;
  margin-right: auto;
}

@media (width < 720px) {
  .Page {
    flex-flow: column;
    justify-items: stretch;
  }

  .Page_Head,
  .Page_Body,
  .Page_Aside,
  .Page_Foot {
    justify-self: stretch;
  }
}
