.Page-wide {
    /*--page-width: 80vw;*/
}

.Page {
    display: grid;
    grid: auto-flow / var(--aside-width) minmax(auto, var(--page-width)) var(--aside-width);
    gap: var(--gap);
    margin: var(--gap);
}

.Page_Head {
    grid-column: 2;
    display: flex;
    align-items: center;
    gap: var(--gap);
    padding: 0 var(--gap);
}

.Page_Title {
    flex-grow: 1;
    margin: 0;
}

.Page_Left {
    grid-column: 1;
}

.Page_Body {
    grid-column: 2;
    display: grid;
}

.Page_Right {
    grid-column: 3;
}

@media (width < 720px) {
    .Page {
        grid: auto-flow / 1fr;
        justify-items: stretch;
    }

    .Page_Left,
    .Page_Head,
    .Page_Body,
    .Page_Right,
    .Page_Foot {
        grid-area: auto/1;
        justify-self: stretch;
    }
}
