.Table {
    display: grid;
    grid-template-columns: repeat(20, auto);
    align-items: stretch;
    box-shadow: var(--box-shadow);
    border-radius: var(--radius);
    width: 100%;
    overflow: clip;
    position: relative;
    z-index: 0;
}

.Table_Head,
.Table_Body,
.Table_Foot,
.Table_Row {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/-1;
}

.Table_Body {
    background: var(--card);
}

.Table_Head {
    /*overflow: hidden;*/
    z-index: 2;
    white-space: nowrap;
    font-weight: bold;
    position: relative;

    &::before, &::after {
        content: "";
        display: block;
        position: absolute;
        inset: 0;
        height: 200%;
        pointer-events: none;
    }

    &::before {
        backdrop-filter: blur(20px);
        mask-image: linear-gradient(
                to bottom,
                black 0 50%,
                transparent 50% 100%
        );
    }

    &::after {
        backdrop-filter: blur(5px);
        background: rgba(38, 51, 54, 0.1);

        mask-image: linear-gradient(
                to bottom,
                transparent 0 50%,
                black 50% 51%,
                transparent 51%
        );
    }

    .Table_Cell {
        &:first-child {
            border-top-left-radius: var(--radius);
        }

        &:last-child {
            border-top-right-radius: var(--radius);
        }

        & + &::before {
            display: block;
            cursor: col-resize;
            content: '';
            inset: var(--gap) auto var(--gap) 0;
            position: absolute;
            border-left: 1px solid var(--border);
        }
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}

.Table_Row {
    &:not(:hover) .Table-shy {
        visibility: hidden;
    }

    & + & {
        border-top: 1px solid var(--background);
    }
    align-items: center;
}

.Table_Cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1em;
    position: relative;
    display: flex;
    align-items: center;
    gap: 2px;

    &:has(img) {
        padding-block: 0;
    }

    img {
        height: 2em;
        /* margin: 4px; */
        display: inline-block;
        border-radius: 99px;
    }
}

.Table-sticky {
    position: sticky;
    top: 0;
}

.Table-controls {
    text-align: right;
}
