= Alert :success, "Success alert. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
= Alert :info,    "Info alert. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
= Alert :error,   "Error alert. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."
= Alert :warning, "Warning alert. Excepteur sint occaecat cupidatat non proident."
