@charset "utf-8";

@layer vendor, default, theme, component, modifier, layout, utility;

@import url(trix.css) layer(vendor);
@import url(iconoir.css) layer(vendor);
@import url(cafe_car/trix.css);

@import url(cafe_car/pagination.css);
@import url(cafe_car/utility.css);
@import url(ui/components.css);
@import url(cafe_car/themes/warm.css);
@import url(cafe_car/themes/warm-dark.css) (prefers-color-scheme: dark);

@import url(cafe_car/code/base16-light.css);
@import url(cafe_car/code/base16-dark.css) (prefers-color-scheme: dark);

:root {
  --half-gap: calc(var(--gap) / 2);
}

:focus {
  z-index: 1;
}

a {
  color: var(--link);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    filter: brightness(1.05);
  }

  &:active {
    filter: brightness(.95);
  }
}

.dim {
  color: var(--gray);
}

* {
  box-sizing: border-box;
  outline-color: var(--outline);
}

body {
  color: var(--color);
  background: var(--background);
  font: var(--font);
  margin: 0;
  min-height: 100vh;
}

h1, h2, h4, h5, h6, p {
  margin-left: var(--indent);
}

time {
  text-decoration: dotted underline;
  text-decoration-color: var(--dim);
  cursor: default;
}


html[data-turbo-visit-direction="forward"]::view-transition-group(root),
html[data-turbo-visit-direction="back"]::view-transition-group(root) {
  animation: none;
}

turbo-frame {
  display: contents;
}

::selection {
  background-color: var(--selection);
}
