@import url("trix.css");
@import url("cafe_car/trix.css");
@import url("pagination.css");
@import url("cafe_car/themes/cool.css");
@import url("ui/components.css");
@import url("utility.css");

:root {
    --half-gap: calc(var(--gap) / 2);
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

* {
    box-sizing: border-box;
}

body {
    color: var(--color);
    background: var(--background);
    font-family: var(--font), sans-serif;
    margin: 0;
}

input:not([type="button"]),
textarea,
select {
    background: var(--input);
    border: 1px solid var(--border);
    max-width: 100%;
    border-radius: 4px;
    padding: 8px;
    font: inherit;
}

::placeholder {
    color: inherit;
    opacity: .3;
}

time {
    text-decoration: dotted underline;
    text-decoration-color: var(--dim);
}

body:has(dialog[open]) {
    overflow: hidden;
}
