@import url("trix.css");
@import url("pagination.css");
@import url("ui/theme.css");
@import url("ui/components.css");
@import url("utility.css");

:root {
    --half-gap: calc(var(--gap) / 2);
}

* {
    box-sizing: border-box;
}

body {
    color: var(--color);
    background: var(--background);
    font-family: var(--font), sans-serif;
}

textarea {
    max-width: 100%;
}

time {
    text-decoration: dotted underline;
    text-decoration-color: var(--dim);
}
