:root {
    color-scheme: light dark;
    accent-color: var(--accent);
    scroll-behavior: smooth;

    --primary: var(--accent);
    --secondary: var(--accent);
    --tertiary: var(--accent);

    --success: var(--green);
    --warning: var(--orange);
    --danger: var(--red);
    --error: var(--red);

    --outline: var(--accent);
    --link: var(--accent);
    --error: var(--red);
    --invalid: #faf8f6;
    --card: rgb(255 255 255);
    --hover: rgb(50 50 93 / .03);

    --font-family: ui-sans-serif, -apple-system, menu, sans-serif;
    --font: 16px var(--font-family);

    --shadow: rgb(50 50 93 / .25);
    --box-shadow: var(--shadow) 0 2px 5px -1px,
                  var(--shadow) 0 1px 3px -1px;

    --inset-shadow: inset var(--shadow) 0 1px 3px -1px;
    --backdrop: rgb(0 0 0 / .5);

    --gap: 1rem;
    --indent: 0;
    --half-gap: calc(var(--gap) / 2);
    --third-gap: calc(var(--gap) / 3);
    --gap2: calc(var(--gap) * 2);
    --radius: 12px;
    --control-radius: calc(var(--radius) / 3);

    --max-width: 720px;
    --page-width: 1024px;
    --aside-width: 20vw;
    --modal-width: 720px;

    --duration: 300ms;
}
