@import url(defaults.css);

:root {
    --red: #CC4B00;

    --color: rgb(24, 36, 51);
    --dim: #6c7a91;

    --link: rgb(6, 111, 209);
    --border: #e6e8ec;
    --background: #2c1d15;
    --input: #f6f8fa;
    --invalid: #f6f8fa;
    --card: white;
    --hover: rgb(50 50 93 / .03);
}

@media (prefers-color-scheme: dark) {
    :root {
        --input: #151f2c;
        --invalid: #351f2c;
        --background: #151f2c;

        --color: #dce1e7;
        --dim: #6c7a91;

        --card: #192433;
        --border: #1f2e42;
        --link: #6aa9e3;
    }
}
