@import url(defaults.css);

:root {
  --blue: rgb(35, 175, 208);

  --input: #1e1e1d;
  --background: #191918;
  --button: #333;

  --color: #e7e3dc;
  --dim: #6c7a91;

  --card: #222221;
  --border: #2A2A28;
  --hover: rgb(42, 42, 40);
  --shadow: rgba(0, 0, 0, 0.2);
}

body {
  scrollbar-color: rgb(73, 72, 70) rgb(25, 25, 24);
}

.Card, .Table {
  border: 0;
}

.Table_Head {
  background-color: var(--card);
}
